<a class="text-3xl font-fs-industrie font-black uppercase no-underline" href="{{ project.nickname | default: project.name | datapage_url: 'projects' }}">
    {{ project.name }}
</a>
<h2 class="text-xl text-sneakerGreen-500">
    {{ project.lede }}
</h2>
<div class="my-6">
    {{ project.desc | markdownify }}
</div>

{% if false && include.project.clients %}
<div class="grid grid-cols-3 gap-8 absolute inset-0 -z-10">
    {% assign clients = include.project.clients | concat: include.project.clients %}
    {% for client in clients %}
    <a href="{{ client.link  }}" target="_blank">
        {% assign src = client.image.file | prepend: "assets/images/work/onym/" %}
        {% assign class = client.image.class | prepend: "fill-white hover:fill-black block m-auto " %}
        {% include_relative {{ src }} class=class %}
    </a>
    {% endfor %}
</div>
{% endif %}

{% if false && project.questions %}
    <div class="my-6">
        Research questions:
        <ul class="text-base mt-3">
            {% for question in project.questions %}
                <li class="bg-gray-200 p-3 my-3 rounded-lg">{{ question }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if false && project.media %}
    <div class="col-start-7 col-end-12">
        {% for media in project.media %}
            {%- capture src -%}
                assets/{% if media.type == 'svg' %}image{% else %}{{ media.type }}{% endif %}s/work/{{ include.project.name | slugify }}/{{ media.file }}
            {%- endcapture -%}
            {% case media.type %}
            {% when 'image' %}
                <img src="/{{ src }}">
            {% when 'svg' %}
                {% include_relative {{ src }} %}
            {% when 'video' %}
                <video src="/{{ src }}" class="w-full" autoplay loop muted allowfullscreen></video>
            {% endcase %}
        {% endfor %}
    </div>
{% endif %}
