<footer class="text-white bg-covenantBlue-900 w-full p-10">
    <div class="max-w-4xl mx-auto">
        <div class="flex">
            <nav class="text-xs [&>*]:inline-block [&>*]:no-underline [&>*]:border-t [&>*]:pt-1 [&>*]:w-36 [&>*]:mr-6">
                <a href="/#about">
                    About Us <span class="float-right">↑</span>
                </a>
                <a href="/#services">
                    Services <span class="float-right">↑</span>
                </a>
                <a href="/#team">
                    The Team <span class="float-right">↑</span>
                </a>
            </nav>
            <div class="basis-1/4 ml-auto text-right">
                <address class="not-italic">
                    1460 Broadway<br>
                    New York, NY 10036
                </address>
                <a href="mailto:contact@covenant.co" class="my-5 block">Contact@covenant.co</a>
                +1-917-225-3734
            </div>
        </div>
        <div class="flex items-center border-t border-covenantBlue-500 py-4 mt-5">
            <div class="mr-2">
                <div class="w-8 h-8 border border-covenantBlue-500 rounded-full float-left"></div>
                <div class="w-8 h-8 border border-covenantBlue-500 rounded-full float-left -ml-[1.65rem]"></div>
                <div class="w-8 h-8 border border-covenantBlue-500 rounded-full float-left -ml-[1.65rem]"></div>
            </div>
            <h1 class="text-3xl font-lora">
                Covenant
            </h1>
            <div class="ml-auto text-covenantBlue-500 text-xs uppercase">
                © Covenant Law, PLLC. Attorney Advertising |
                <a href="/legal-notices.html" class="no-underline">legal notices</a>
            </div>
        </div>
</footer>
