@font-face {
  font-family: 'Lora';
  src: url('Lora-VariableFont_wght.ttf') format('ttf supports variations'),
       url('Lora-VariableFont_wght.ttf') format('ttf-variations');
  font-weight: 100 1000;
}

@font-face {
  font-family: 'Lora';
  src: url('Lora-Italic-VariableFont_wght.ttf') format('ttf supports variations'),
       url('Lora-Italic-VariableFont_wght.ttf') format('ttf-variations');
  font-weight: 100 1000;
  font-style: italic;
}
