---
layout: default
title: "Leppert"
---

<a href="/" class="bg-sneakerRed-700 col-span-12 lg:col-span-4 p-4 hover:cursor-pointer text-white no-underline">
    Greg Leppert
</a>

{% for proj in site.data.landing.projects limit:8 %}
    <a class="col-span-12 col-span-12 md:col-span-6 lg:col-span-4 p-2 hover:bg-white hover:cursor-pointer text-3xl font-fs-industrie font-black uppercase no-underline" href="{{ proj.nickname | default: proj.name | datapage_url: '/projects' }}">
        {{ proj.nickname | default: proj.name }}
    </a>
{% endfor %}

<div class="col-span-12 md:col-span-6 lg:col-span-4 p-8 pt-12">
    {{ page.project.desc | markdownify }}
</div>

<div class="col-span-12 md:col-span-6 lg:col-span-8">
    {% for media in page.project.media %}
        {% include templates/media.html media=media %}
    {% endfor %}
    {% for client in page.project.clients %}
        <a href="{{ client.link }}">
            {% include templates/media.html media=client.image %}
        </a>
    {% endfor %}
</div>

<footer class="col-span-12 p-8">
    This is more footer content
</footer>
